<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Chat coding the curbs</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/login.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="./scriptes/script.js"></script>
    <!-- fonts -->
    
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap" rel="stylesheet">
    

    <link rel="icon" type="image/x-icon" href="./images/CTC_Secondary_Logo_Purple.png">
</head>
<body>